:root {
    --background: #e8e8e8;
    --text: #424242;
    --mainComp: #f4f4f2;
    --mainBorder: #e4e4e4;
    --tabs: #e8e8e8;
    --tile: #e4e4e4;
    /* --tileBorder: #e4e4e4; */
    --button: #f0f0f0;
    --btnBorder: #c2c2c2;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Nunito';
    font-weight: 600;
    background-color: var(--background);
    color: var(--text);
}

body {
    display: inline-flex;
}

svg {
    height: 100%;
    width: auto;
    stroke: #b4b4b4;
}

#pageHeader {
    position: absolute;
    margin-top: 25px;
    margin-left: 50px;
    margin-left: 73px;
    color: #b4b4b4;
}

#pageHeader h1 {
    margin: 0;
    font-size: calc(1em + 5vh);
    font-weight: bolder;
    line-height: .8;
}

#mainWrapper {
    display: -webkit-box;
    width: 100%;
    margin-top: calc(1em + 5vh);
}

#configure {
    display: flex;
    margin: auto;
    width: 57%;
    align-items: center;
}

#keypad {
    height: 734px;
}

#keypadBody {
    fill-opacity: 1;
    fill: var(--mainComp);
}

#keyDetail {
    padding-left: 5px;
}

#ledDetail {
    padding-left: 5px;
}

#timeout {
    margin-top: -9px;
    float: right;
    border-top-right-radius: 20px;
}

#detail {
    height: 734px;
    margin-left: 25px;
    flex-grow: 1;
    border: 2px var(--mainBorder) solid;
    border-radius: 20px;
    background-color: var(--mainComp);
}

#detailContainer {
    padding-top: 46px;
    font-weight: 600;
}

.knobDetail {
    margin: 2px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 6px;
}

.components {
    cursor: pointer;
}

#subLayerTabContainer {
    width: 100%;
    float: right;
}

.subLayerTab {
    float: right;
}

.subLayerTab, .layerTab, .optionsTab {
    padding: 10px 2%;
    padding-bottom: 0;
    margin: 0 1.5px;
    border: 1px var(--mainBorder) solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--tabs);
    cursor: pointer;
}

#name {
    margin-left: 7px;
    float: left;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 800;
}

#timeoutName {
    width: 507.5px;
    margin: 7px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-transform: uppercase;
    font-weight: 800;
}

#rgbValues {
    margin-left: 60px;
}

#media {
    border-top-left-radius: 15px;
}

#options {
    display: table;
    position: relative;
    width: 40%;
    height: 734px;
    margin: auto;
    border: 2px var(--mainBorder) solid;
    border-radius: 15px;
    background-color: var(--mainComp);
}

#optionContainer {
    margin-top: 5px;
}

#spacer {
    height: 20px;
}

.selected {
    height: 80%;
    background-color: var(--tile);
    border-radius: 15px;
}

.wrap {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.timeoutRadio {
    margin-left: 40px;
}

.colorPicker {
    width: fit-content;
}

.tab {
    margin-top: 10px;
    border-bottom: 1px var(--mainBorder) solid;
}

span.active {
    background-color: var(--mainComp);
    border-bottom: 2px var(--mainComp) solid;
}

.optionTile {
    display: flex;
    float: left;
    height: 48px;
    min-width: 50px;
    margin: 9px;
    padding: 0 10px;
    border: 2px var(--tileBorder) solid;
    border-radius: 7px;
    word-break: break-word;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--tile);
}

.optionTile > span {
    display: inline-flex;
    height: 50px;
    width: 50px;
    
    align-items: center;
    
}

.fileContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 3px;
    padding: 5px;
    border-top: 2px var(--mainBorder) solid;
}

input[type="file"] {
    display: none;
}

.file {
    display: none;
}

.fileBtn {
    border: 1px solid var(--btnBorder);
    border-radius: 4px;
    padding: 1px 4px;
    background-color: var(--button);
    display: inline-block;
    cursor: pointer;
}

.spacer {
    height: 20px;
}

input[type="text"] {
    width: 175px;
    height: 1em;
    font-family: 'Nunito';
    font-size: 1em;
    font-weight: 700;
}

button {
    height: 23px;
    margin-top: 5px;
    font-family: 'Nunito';
    font-size: 1em;
    font-weight: 600;
    border-radius: 4px;
    border-width: 1px;
    border-color: var(--button);
}

/* for 1/3 widescreen monitor */
@media only screen and (max-width: 1800px) {
    #pageHeader {
        margin-top: 2vh;
    }
    #pageHeader h1 {
        font-size: calc(3em + 1vh);
    }
    #mainWrapper {
        display: grid;
    }
    #configure {
        width: 96%;
        margin-top: calc(3em + 1vh);
    }
    #keypad {
        height: 63vw;
    }
    #detail {
        height: 63vw;
        margin-left: 2%;
        overflow: auto;
    }
    #options {
        width: 96%;
        margin: auto;
        margin-top: 30px;
    }
}

/* for phone screens */
@media only screen and (max-width: 600px) {
    html, body {
        font-size: 14px;
    }
    #pageHeader {
        margin-top: 18px;
    }
    #pageHeader h1 {
        font-size: calc(3em + 1vh);
    }
    #configure {
        margin: auto;
        margin-top: 50px;
    }
    #keypad {
        height: 83vh;
    }
    #detail {
        height: 83vh;
        width: 550px;
        margin-left: 2%;
    }
    #options {
        margin: auto;
        margin-top: 30px;
    }
}