:root {
    --background: #e8e8e8;
    --text: #424242;
    --mainComp: #f4f4f2;
    --mainBorder: #e4e4e4;
    --tabs: #e8e8e8;
    --tile: #e4e4e4;
    /* --tileBorder: #e4e4e4; */
    --button: #f0f0f0;
    --btnBorder: #c2c2c2;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 17px;
    font-family: 'Nunito';
    font-weight: 600;
    background-color: var(--background);
    color: var(--text);
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(700px, 1fr));
}

svg {
    height: 100%;
    width: auto;
    stroke: #b4b4b4;
}

#pageHeader {
    position: absolute;
    margin-top: 35px;
    margin-top: 35px;
    margin-left: 50px;
    margin-left: 73px;
    color: #b4b4b4;
}

#pageHeader h1 {
    margin: 0;
    font-size: 55px;
    font-weight: bolder;
    line-height: .8;
}

#mainWrapper {
    display: flex;
    margin-top: 50px;
}

#configure {
    display: flex;
    margin-left: 50px;
    margin-right: 40px;
    align-items: center;
}

#keypad {
    height: 734px;
}

#keypadBody {
    fill-opacity: 1;
    fill: var(--mainComp);
}

#keyDetail {
    padding-left: 5px;
}

#ledDetail {
    padding-left: 5px;
}

#timeout {
    margin-left: 30px;
}

#detail {
    height: 734px;
    margin-left: 25px;
    border: 2px var(--mainBorder) solid;
    border-radius: 20px;
    background-color: var(--mainComp);
}

#detailContainer {
    width: 520px;
    padding-top: 43px;
    font-weight: 600;
}

.knobDetail {
    margin: 2px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 6px;
}

.components {
    cursor: pointer;
}

#subLayerTabContainer {
    float: right;
    margin-top: 15px;
    padding-left: 370px;
}

#name {
    position: absolute;
    margin: 7px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 19px;
}

#timeoutName {
    width: 504px;
    margin: 7px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 19px;
}

#rgbValues {
    margin-left: 60px;
}

#media {
    border-top-left-radius: 15px;
}

#options {
    display: inline-table;
    width: 740px;
    height: 734px;
    margin: auto;
    border: 2px var(--mainBorder) solid;
    border-radius: 15px;
    background-color: var(--mainComp);
}

#optionContainer {
    height: 655px;
    margin-top: 5px;
    border-bottom: 2px var(--mainBorder) solid;
}

.selected {
    height: 80%;
    background-color: var(--tile);
    border-radius: 15px;
}

.wrap {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.timeoutRadio {
    margin-left: 40px;
}

.colorPicker {
    width: fit-content;
}

.tab {
    margin-top: 10px;
    margin-left: -1.5px;
    border-bottom: 1px var(--mainBorder) solid;
}

.tab > span {
    padding: 10px 15px;
    padding-bottom: 0;
    margin: 0 1.5px;
    border: 1px var(--mainBorder) solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--tabs);
    cursor: pointer;
}

span.active {
    background-color: var(--mainComp);
    border-bottom: 2px var(--mainComp) solid;
}

.optionTile {
    display: flex;
    float: left;
    height: 48px;
    min-width: 50px;
    margin: 9px;
    padding: 0 10px;
    border: 2px var(--tileBorder) solid;
    border-radius: 7px;
    word-break: break-word;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--tile);
}

.optionTile > span {
    display: inline-flex;
    height: 50px;
    width: 50px;
    
    align-items: center;
    
}

.fileContainer {
    padding: 5px;
}

input[type="file"] {
    display: none;
}

.file {
    display: none;
}

.fileBtn {
    border: 1px solid var(--btnBorder);
    border-radius: 4px;
    padding: 1px 4px;
    background-color: var(--button);
    display: inline-block;
    cursor: pointer;
}

.spacer {
    height: 20px;
}

input[type="text"] {
    width: 175px;
    height: 16px;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
}

button {
    height: 23px;
    margin-top: 5px;
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border-width: 1px;
    border-color: var(--button);
}

@media only screen and (max-width: 1800px) {
    #pageHeader {
        margin-top: 18px;
    }
    #pageHeader h1 {
        font-size: 45px;
    }
    #mainWrapper {
        display: grid;
    }
    #configure {
        margin: auto;
        margin-top: 50px;
    }
    #options {
        margin: auto;
        margin-top: 30px;
    }
}