html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 17px;
    font-family: 'Nunito';
    font-weight: 600;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(700px, 1fr));
}

svg {
    height: 100%;
    width: auto;
}

#configure {
    display: flex;
    margin: auto 50px;
}

#keypad {
    height: 670px;
}

#detail {
    margin-left: 20px;
    border: 2px black solid;
    border-radius: 6px;
}

#detailContainer {
    padding-top: 36px;
    font-weight: 600;
}

.knobDetail {
    margin-bottom: 2px;
}

.components {
    cursor: pointer;
}

#subLayerTabContainer {
    float: right;
    margin-top: 15px;
    padding-left: 389px;
}

#name {
    position: absolute;
    margin: 7px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 19.5px;
}

.selected {
    background-color: gainsboro;
    border-radius: 4px;
}

.wrap {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.colorPicker {
    width: fit-content;
}

#rgbValues {
    margin-left: 60px;
}

#options {
    width: 770px;
    margin: auto;
    margin-right: 60px;
    border: 2px black solid;
    border-radius: 6px;
}

.tab {
    margin-top: 10px;
    margin-left: -1px;
    border-bottom: 1px black solid;
}

.tab > span {
    padding: 10px;
    padding-bottom: 0;
    border: 1px black solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

span.active {
    background-color: white;
    border-bottom: 2px white solid;
}

#optionContainer {
    height: 700px;
    border-bottom: 2px black solid;
}

.optionTile {
    display: flex;
    float: left;
    height: 50px;
    min-width: 50px;
    margin: 10px;
    padding: 0 3px;
    border: 2px rgb(65, 65, 65) solid;
    border-radius: 7px;
    word-break: break-word;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.optionTile > span {
    display: inline-flex;
    height: 50px;
    width: 50px;
    
    align-items: center;
    
}

.fileContainer {
    padding: 5px;
}

input[type="file"] {
    display: none;
}

.file {
    display: none;
}

.fileBtn {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 4px;
    padding: 1px 4px;
    background-color: rgb(240, 240, 240);
    display: inline-block;
    cursor: pointer;
}

.spacer {
    height: 20px;
}

input[type="text"] {
    width: 175px;
    height: 16px;
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
}

button {
    height: 23px;
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(240, 240, 240);
}

@media only screen and (max-width: 1900px) {
    #configure {
        margin: auto;
    }
    #options {
        margin: auto;
    }
}