html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(600px, 1fr));
}

svg {
    height: 100%;
    width: auto;
}

#configure {
    display: flex;
    margin: auto 70px;
}

#keypad {
    height: 630px;
}

#detail {
    margin-left: 20px;
    border: 2px black solid;
    border-radius: 6px;
}

#detailContainer {
    padding-top: 36px;
    font-style: normal;
}

.knobDetail {
    margin-bottom: 3px;
}

.components {
    cursor: pointer;
}

#subLayerTabContainer {
    float: right;
    margin-top: 15px;
    padding-left: 389px;
}

#name {
    position: absolute;
    margin: 7px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.selected {
    background-color: gainsboro;
    border-radius: 4px;
}

.wrap {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.colorPicker {
    width: fit-content;
}

#rgbValues {
    margin-left: 60px;
}

#options {
    margin: auto;
    border: 2px black solid;
    border-radius: 6px;
}

.tab {
    margin-top: 10px;
    margin-left: -1px;
    border-bottom: 1px black solid;
}

.tab > span {
    padding: 10px;
    padding-bottom: 0;
    border: 1px black solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgb(194, 194, 194);
    cursor: pointer;
}

span.active {
    background-color: white;
    border-bottom: 2px white solid;
}

#optionContainer {
    height: 700px;
    width: 800px;
    border-bottom: 2px black solid;
}

.optionTile {
    display: flex;
    float: left;
    height: 50px;
    min-width: 50px;
    margin: 10px;
    padding: 0 3px;
    border: 1px black solid;
    font-size: 16px;
    word-break: break-word;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.optionTile > span {
    display: inline-flex;
    height: 50px;
    width: 50px;
    
    align-items: center;
    
}

input[type="file"] {
    display: none;
}

.file {
    display: none;
}

.fileBtn {
    border: 1px solid rgb(194, 194, 194);
    padding: 1px 4px;
    display: inline-block;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    #configure {
        margin: auto;
    }
}